.template1{
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 100%;
}

#profile{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

#profile span{
	margin: 0px 4px;
}

#profile .user_name{
	font-size: 25px;
	font-family: monospace;
	font-weight: bolder;
}

.row_close{
	display: flex;
	flex-direction: row;
}

.template1 li{
	list-style-position: inside;
	margin: 3px 0px;
}

#education{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: 20px 0;
}

#education .Heading{
	width: 100%;
	margin-bottom: 5px;
	font-size: 20px;
	font-family: monospace;
	font-weight: bolder;
	border-bottom: solid 1px black;
	padding: 5px 0px;
}

.row_far{
	width: calc(100% - 20px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
	margin-left: 20px;
}

.row_far2{
	width: calc(100% - 20px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.gap{
	margin: 5px 0;
	margin-left: 20px;
}

#education .collegeName{
	font-size: 18px;
	font-family: monospace;
	font-weight: bolder;
}

#education span{
	margin: 0px 5px;
}

.column1{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.column2{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#work{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: 20px 0;
}

#work .Heading{
	width: 100%;
	margin-bottom: 5px;
	font-size: 20px;
	font-family: monospace;
	font-weight: bolder;
	border-bottom: solid 1px black;
	padding: 5px 0px;
}


#work .companyName{
	font-size: 18px;
	font-family: monospace;
	font-weight: bolder;
}

#work span{
	margin: 0px 5px;
}

.column3{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 5px 0;
}

.column4{
	width: calc(100% - 20px);
	display: flex;
	flex-direction: column;
	margin: 5px 0;
	margin-left: 20px;
}

#work .job{
	margin: 5px 0px;
	margin-left: 50px;
}

#skills{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: 20px 0;
}

#skills .Heading{
	width: 100%;
	margin-bottom: 5px;
	font-size: 20px;
	font-family: monospace;
	font-weight: bolder;
	border-bottom: solid 1px black;
	padding: 5px 0px;
}

#skills .skillDetail{
	margin: 0px 5px;
}

#projects{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: 20px 0;
}

#projects .Heading{
	width: 100%;
	margin-bottom: 5px;
	font-size: 20px;
	font-family: monospace;
	font-weight: bolder;
	border-bottom: solid 1px black;
	padding: 5px 0px;
}

#projects .projectName{
	font-size: 18px;
	font-family: monospace;
	font-weight: bolder;
	margin-right: 10px;
}

#projects .toolsUsed{
	margin: 0px 5px;
}

#awards{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: 20px 0;
}

#awards .Heading{
	width: 100%;
	margin-bottom: 5px;
	font-size: 20px;
	font-family: monospace;
	font-weight: bolder;
	border-bottom: solid 1px black;
	padding: 5px 0px;
}

#awards .awardName{
	font-size: 18px;
	font-family: monospace;
	font-weight: bolder;
	margin-right: 10px;
}

.row_far3{
	width: calc(100% - 20px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.row_far3 .summary{
	flex-basis: 0;
	flex-grow: 1;
}

.row_far3 .awardDate{
	flex-basis: 0;
	flex-grow: .1;
	text-align: right;
}
