.template2{
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-family: times;
	width: 100%;
	height: 100%;
}

.template1{
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 100%;
}

.profile{
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
}

.row_close{
	display: flex;
	flex-direction: row;
}

.profile_col_head{
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: #213456;
	flex-basis: 0;
	flex-grow: 1;
}

.profile_col_head *{
	margin: 10px;
	color: white;
	text-transform: uppercase;
}

.profile .user_name{
	font-size: 30px;
	font-weight: bolder;
	text-transform: uppercase;
}

.profile_col_info{
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 20px;
	flex-basis: 0;
	flex-grow: 1;
}
.profile_end_design{
	background-color: #213456;
	flex-basis: 0;
	flex-grow: 0.1;
}
.education{
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	color: black;
	flex-basis: 0;
	flex-grow: 1.2;
}

.education .Heading{
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;
	flex-basis: 0;
	flex-grow: 1;
}

.education span{
	margin: 0px 3px;
}

.row_full{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.row_far2{
	width: calc(100% - 20px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.education hr, .skills hr, .work hr, .awards hr{
	width: 100%;
	border: none;
	border-bottom: dotted 2px black;
	vertical-align: baseline;
}

.work hr{
	width: 100%;
	border: none;
	border-bottom: dotted 2px black;
	vertical-align: baseline;
	flex-basis: 0;
	flex-grow: 3.7;
}

 .projects hr{
 	width: 100%;
	border: none;
	border-bottom: dotted 2px black;
	vertical-align: baseline;
 }

.education .collegeName{
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
}

.template2_column{
	margin: 8px;
}

.container_template2{
	display: flex;
	justify-content: space-between;
	flex-basis: 0;
	flex-grow: 1;
}

.skills{
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: black;
	flex-basis: 0;
	flex-grow: 1;
}

.skills .Heading{
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;
	flex-basis: 0;
	flex-grow: 1;
}

.skills .skillName{
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
}

.skill_row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.edcation_column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.work{
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: black;
	flex-basis: 0;
	flex-grow: 1;
}

.work .Heading{
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;
	flex-basis: 0;
	flex-grow: 1;
}

.work_row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 2px 0px;
}

.work_row .companyName{

	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
}

.work_row .jobLocation{

	font-size: 16px;
	font-weight: bolder;
	text-transform: capitalize;
}

.template2_job{
	margin: 0px 40px;
}

.template2_job li{
	margin: 5px 0px;
}

.work span{
}

.work_row *{
	margin: 0px 3px;
}

.template2 li{
	list-style-position: inside;
}

.projects{
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: black;
	flex-basis: 0;
	flex-grow: 1;
}

.projects .Heading{
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;
	flex-basis: 0;
	flex-grow: 1;
}
.projects .projectName{
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
}

.projectLink, .projectDescription{
	margin: 0px 3px;
}

.awards{
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: black;
	flex-basis: 0;
	flex-grow: 1;
}

.awards .Heading{
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;
	flex-basis: 0;
	flex-grow: 1;
}
.template2_column span{
	margin: 0px 3px;
}
.template2_column .awardName{
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
}

.awardDate{
	margin: 3px 0px;
	font-size: 16px;
}

.awarder{
	font-size: 16px;
	font-weight: bold;
}